.*
*.pid
*.xml
*.csr
*.crt
*.key
*.conf
*.json
*.log
*.log.*
*.db-journal
*.pickle
*.bak
OZW_Log.txt
home-assistant_v2.db
*.db.*
lib
deps
tts
secrets.yaml
known_devices.yaml
pyozw.sqlite
ip_bans.yaml
!/.gitignore
all_requirements.txt
webostv.conf
config
